// Screen sizes
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

// Colors
$primary-color: #ff4500;
$app-orange: #ff4500;
$app-blue: #0079d3;
$secondary-color: #5f99cf;
$tertiary-color: #cee3f8;
$white: #ffffff;